# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Modtronix
# =========================
*.bak
*.nobak
*.nodis
*_MODTRONIX.txt
MODTRONIX_*.txt
build_dist.bat
build_dist.xml

# Mercurial Repository
# =========================
.hgignore
**/.hg/cache
**/.hg/store
**/.hg/bookmark
**/.hg/branch
**/.hg/dirstate
**/.hg/requires
**/.hg/thgstatus
**/.hg/undo*
**/.hg/00changelog*
**/.hg/cur-message*
**/.hg/last-message*
